@import "tailwindcss";


@custom-variant dark (&:where(.dark, .dark *));

/* ===== SHOPPE LIGHT THEME ===== */

/* @theme .dark{
  --color-primary: #0f766e;
  --color-secondary: #2563eb;
  --color-accent: #f59e0b;

  --color-bg: #f8fafc;
  --color-surface: #ffffff;

  --color-text: #0f172a;
  --color-muted: #64748b;
  --color-border: #e2e8f0;
} */


@theme{
     --breakpoint-xs: "420px";   
     --breakpoint-sm: "640px";
     --breakpoint-md: "768px";
      --breakpoint-lg: "1024px";
      --breakpoint-xl: "1280px";
}
/* ===== SHOPPE DARK THEME ===== */
@theme {

  /* dark theme colors */

  --color-dark-primary: #2dd4bf;
  --color-dark-secondary: #60a5fa;
  --color-dark-accent: #fbbf24;
  --color-dark-bg: #020617;
  --color-dark-surface: #020617;
  --color-dark-text: #e5e7eb;
  --color-dark-muted: #94a3b8;
  --color-dark-border: #1e293b;

  /* light theme colors */
  --color-light-primary: #2dd4bf;
  --color-light-secondary: #60a5fa;
  --color-light-accent: #fbbf24;
  --color-light-bg: #ffffff;
  --color-light-surface: #f8fafc;
  --color-light-text: #1e293b;
  --color-light-muted: #64748b;
  --color-light-border: #e2e8f0;
  

}
